.homepage-main{
    background-color: rgba(243,245,246,255) ;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-homepage-container{
    height: 200px;
    width: 250px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;

}

.image-homepage {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}
.image-homepage:hover {
    cursor: pointer;

}


.image-homepage-user {
    background-color: white;
    box-sizing: border-box;
    padding: 0px 12px;
    height: 40px;
    width: 100%;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px #e1e1e1; ;
}

.image-homepage-description {
    margin-top: -5px;
    background-color: white;
    box-sizing: border-box;
    padding: 0px 12px;
    height: 60px;
    width: 250px;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#homepage-message {
padding-top: 10px;
}

.all-homepage-images {
        display: flex;
        width: auto;
        /* height: 100vh; */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px;
        /* padding-left: 80px; */
        padding-bottom: 100px;
        row-gap: 100px;
        column-gap: 10px;
        background-color: rgba(243,245,246,255) ;




}
