.ERROR-MODAL {
    height: 180px;
    width: 620px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 30%), 0 1px 4px rgb(0 0 0 / 20%);
    min-width: 620px;
    border-radius: 3px;
}

.ErrorTitle {
    font-size: 18px;
    padding: 19px 20px 16px;
    line-height: 18px;
}

.ErrorMessage  {
    font-weight: 400;
  color: #212124;
  line-height: 24px;
  padding: 20px;
  min-height: 60px;
  overflow-y: auto;
  padding-top: 0;
  font-size: 14px;

}

.modalOk {
    width: 80px;
}
