.image-cameraroll-container {
    height: 140px;
    width: 140px;
    margin: 5px;

}
.image-cameraroll-container:hover {
    border: 3px solid #f3f5f6;
    border-radius: 2px;
}

.image-cameraroll {
    max-width:100%;
max-height:100%;
}


.all-cameraroll-images{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
