.bttn {
    background-color:  #128fdc ;
    color: #fff;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 200px;   /*will fill up div when created */
    cursor: pointer;
    border-style: none;
    border-radius: 0.20rem;
    transition: background-color .2s;

    font-weight: bold;
}


.bttn:hover {
-webkit-filter: brightness(105%);
  filter: brightness(105%);
}



input {
    padding: 1.5rem 1rem 0.5rem 1rem;
    border: 1px rgb(118, 118, 118) solid  ;
    border-radius: 5px;
    margin-top: 10px;
}

input:focus {
    border: #128fdc 1px solid ;
}


label {
    font-family: Proxima Nova,Helvetica,sans-serif;

}

.signup-login {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
}


.login-main {
    background-image: url(https://wallpaperaccess.com/full/1325025.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.login-form-box{
    background-color: white;
    padding: 1.5rem;
    width: 16rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-login > label {
    margin-top: 10px;
}


.signup-login > button {
    margin-top: 32px;
}

#login-dots{
    height: 23px;
    width: 23px;
    margin-bottom: 5px;
}

.demouser-bttn{
    margin-top: 20px;
}

#login-mssg{
    margin-bottom: 20px;
}
