


.imagesubmit-main{
    background-image: url(https://i.pinimg.com/originals/1b/6e/5a/1b6e5a939571d101538958eaf01217d7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#file-upload-button {
    background-color:  #128fdc ;
    color: #fff;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 200px;   /*will fill up div when created */
    cursor: pointer;
    border-style: none;
    border-radius: 0.20rem;
    transition: background-color .2s;

    font-weight: bold;
}

#file-upload-input  {
	border: none;
    display: none;

}

#file-upload-input + label {
    background-color: red;
}

#file-wrapper{
background-color: blue;
cursor: pointer;
}
