


.imagesubmit-main{
    background-image: url(https://wallpaperaccess.com/full/1325025.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
